* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; }
  
.product-box {
    margin-top: 60px;
    margin-bottom: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 0 calc(50% - 570px); 
}
.product {
    width: 250px;
    height: 300px;
    position: relative;
    margin-bottom: 40px;
}

.product:hover {
    box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.16)
}

.product:hover .product__img {
    filter: brightness(.4);
}


.product:hover .product__add {
    display: flex;
}

.product__img {
    width: 100%;
}

.product__add {
    font-size: 13px;
    font-weight: bold;
    color: #ffffff;
    height: 39px;
    width: 123px;
    display: none;
    justify-content: center;
    align-items: center;
    top: 97px;
    left: 70px;
    position: absolute;
    border: 1px solid #fff;
}

.product__add:hover {
    box-shadow: 0 0 5px #fff;
}

.product__content {
    padding: 19px 15px;
    position: relative;
}

.product__name {
    font-size: 13px;
    color: #222222;
    text-transform: uppercase;
}

.product__price {
    font-size: 16px;
    font-weight: bold;
    color: #f16d7f;
    margin-top: 17px;
    text-transform: uppercase;
}